*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card
{
    background-color: #fff;
    width: 450px;
    border-radius: 16px;
    padding: 25px 30px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

/* style form */

.title
{
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 20px;
    margin-left: 150px;
}

hr
{
    background-color:  #e6e6e6;
    height: 1px;
    margin-bottom: 30px;
}


form .user
{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form .user input[type="text"],input[type="email"],input[type="password"]
{
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form .user input[type="submit"]
{
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

}

.account
{
    margin-top: 20px;
}